@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --hour: Inter;
  --body-medium: Lexend;

  /* font sizes */
  --hour-size: 14px;
  --h5-size: 16px;
  --h4-size: 20px;

  /* Colors */
  --white: #fff;
  --secondary: #7b61ff;
  --primary: #2fcf9d;
  --black-60: #6d716e;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-base: 16px;

  /* border radiuses */
  --br-5xs: 8px;
}
